<h1> <%= current_user.name %> Bookings</h1>
<p style="color: green"><%= notice %></p>

<!-- 
<div id="mybookings">
  <#% @mybookings.each do |booking| %>
    <%#= render booking %>
    <p>
      <%#= link_to "Show this booking", booking %>
    </p>
  <#% end %>
</div>
 -->

<div class="flex">
<%= link_to "New booking", allprop_path,:class => "btn btn-danger" %>
</div>


<table class="table table-bordered">
    <thead>
      <tr class="table-danger">
        <th>property name</th>
        <th> price </th>
        <th> start date</th>
        <th> end date</th>
      </tr>
    </thead>
   <% @mybookings.each do |booking| %>
    <tbody>
      <tr>
        <td><%= booking.property.property_name %></td>
        <td><%= booking.price %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        
      </tr>
    </tbody>
    <%end%>
  </table>


